---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/homepage/Hero.astro';
import EmergencyNotice from '@components/homepage/EmergencyNotice.astro';
import CallToAction from '@components/homepage/CallToAction.astro';
import PracticeNetsSchedule from '@components/homepage/PracticeNetsSchedule.astro';
import CurrentConditions from '@components/homepage/CurrentConditions.tsx';
import LatestUpdates from '@components/homepage/LatestUpdates.astro';
import Map from '@components/Map.astro';

const frontmatter = {
  title: '',
  description: 'A community of GMRS users in the Ebbetts Pass region of Calaveras.',
};
---

<Layout frontmatter={frontmatter}>
  <Hero />
  <EmergencyNotice />

  <div class="">
    <CallToAction />

    <div class="space-y-8 my-8">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <PracticeNetsSchedule />
        <CurrentConditions client:load />
      </div>

      <LatestUpdates />
      <Map />
    </div>
  </div>
</Layout>
