---
import Layout from '@layouts/Layout.astro';
import RoadWeatherStatus from '@components/RoadWeatherStatus.tsx';
import Map from '@components/Map.astro';
import Hero from '@components/homepage/Hero.astro';
import EmergencyNotice from '@components/homepage/EmergencyNotice.astro';
import WelcomeSection from '@components/homepage/WelcomeSection.astro';
import LatestUpdates from '@components/homepage/LatestUpdates.astro';
import PracticeNets from '@components/homepage/PracticeNets.astro';
import GettingStarted from '@components/homepage/GettingStarted.astro';

const frontmatter = {
  title: '',
  description: 'A community of GMRS users in the Ebbetts Pass region of Calaveras.',
};
---

<Layout frontmatter={frontmatter}>
  <Hero />
  <EmergencyNotice />

  <div class="space-y-8">
    <RoadWeatherStatus client:load />
    <WelcomeSection />
  </div>

  <div class="my-8 grid grid-cols-1 lg:grid-cols-2 gap-8">
    <PracticeNets />
    <LatestUpdates />
  </div>

  <div class="space-y-8 my-8">
    <GettingStarted />
    <Map />
  </div>
</Layout>
