---
import Layout from '@layouts/Layout.astro';

const frontmatter = {
  title: 'Repeaters',
  description: 'Location and coverage information for ERSN repeaters.',
};

const API_KEY = import.meta.env.GOOGLE_API_KEY;

const googleMapsAPI = `https://maps.googleapis.com/maps/api/js?key=${API_KEY}&callback=initMap&loading=async`;
---

<Layout frontmatter={frontmatter}>
  <h1>Repeaters</h1>
  <p>ERSN utilize two repeaters, one on Arnold Summit and one in Murphy's:</p>
  <div id="map" class="w-full h-[400px] not-prose mb-6 drop-shadow-lg rounded-lg"></div>
  <p>Both repeaters are operating on Channel 20 / Repeater 6 (462.675 MHz).</p>
  <p>
    Contact
    <a href="mailto:ersnnets@gmail.com">ersnnets@gmail.com</a> for PL (CTCSS) codes.
  </p>

  <script is:inline>
    function initMap() {
      const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: { lat: 38.23097, lng: -120.3718 }, // Centered between the two points
        mapTypeId: 'terrain',
        // Disable all controls.
        streetViewControl: false,
        mapTypeControl: false,
        fullscreenControl: false,
        zoomControl: false,
        rotateControl: false,
        scaleControl: false,
      });

      const markers = [
        {
          position: { lat: 38.30167, lng: -120.31889 },
          title: 'Arnold Summit Repeater',
        },
        {
          position: { lat: 38.16028, lng: -120.42472 },
          title: 'Murphys Repeater',
        },
      ];

      markers.forEach((markerInfo) => {
        new google.maps.Marker({
          position: markerInfo.position,
          map: map,
          title: markerInfo.title,
        });
      });
    }
  </script>
  <script async is:inline src={googleMapsAPI}></script>
</Layout>
