---

---

<div class="md:bg-white md:border md:border-stone-300 md:rounded-sm md:p-8 md:my-8">
  <div
    class="prose
    prose-stone
    prose-headings:font-serif
    prose-h1:text-3xl
    prose-h2:text-2xl
    prose-h3:text-xl
    prose-p:font-inter
    prose-p:text-stone-700
    prose-li:font-inter
    prose-li:text-stone-700
    prose-a:text-red-700
    prose-a:no-underline
    prose-a:font-medium
    prose-a:hover:text-red-500
    prose-a:hover:underline
    prose-strong:text-stone-800
    prose-strong:font-semibold
    prose-table:text-sm
    prose-th:bg-stone-50
    prose-th:text-stone-600
    prose-td:text-stone-700
    prose-img:rounded-lg
    prose-hr:border-stone-200
    prose-img:border-4
    prose-img:border-stone-300
    prose-code:font-normal
    !max-w-none"
  >
    <slot />
  </div>
</div>
