---

---

<div class="md:bg-white md:border md:border-stone-300 md:rounded p-4 md:p-8 md:my-8">
  <div
    class="prose prose-stone hover:prose-a:text-red-700 prose-h1:font-serif prose-h1:font-medium prose-h2:font-serif prose-img:rounded-xl prose-img:border-4 prose-img:border-stone-300 prose-code:font-normal !max-w-none"
  >
    <slot />
  </div>
</div>
