---
import '@styles/base.css';
import { Image } from 'astro:assets';
import imgLogo from '@img/ersn-logo.png';

const { frontmatter } = Astro.props;

const sections = [
  { title: 'Welcome', href: '/', selected: false },
  //{ title: 'Members', href: '/members', selected: false },
  { title: 'Nets', href: '/nets', selected: false },
  //{ title: 'Repeaters', href: '/repeaters', selected: false },
  { title: 'GMRS Guide', href: '/gmrs', selected: false },
  { title: 'Important Contacts', href: '/emergency', selected: false },
  //{ title: 'ERSN Contacts', href: '/contact', selected: false },
];

sections.forEach(
  (section) => (section.selected = section.href.substring(1) === Astro.url.pathname.split('/')[1]),
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={frontmatter.description} />
    <meta name="viewport" content="width=device-width" />
    <title>
      {
        frontmatter.title
          ? frontmatter.title + ' | Ebbetts Radio Safety Net'
          : 'Ebbetts Radio Safety Net | Calaveras, California'
      }
    </title>

    <link
      rel="canonical"
      href={frontmatter.canonical || `https://ersn.net${Astro.url.pathname.replace(/\/$/, '')}`}
    />
    <link rel="icon" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="bg-white text-slate-950">
    <div class="md:flex md:flex-row max-w-5xl mx-auto">
      <div
        id="nav"
        class="md:sticky md:top-0 md:max-w-[250px] md:h-screen p-4 items-stretch bg-grey-lighter border"
      >
        <Image
          src={imgLogo}
          alt="ERSN Logo"
          class="mx-auto not-prose mb-6 w-full sm:mb-12 drop-shadow-md w-[100px] md:w-[150px]"
        />
        <div class="flex flex-col space-y-2">
          {
            sections.map((section) => (
              <a
                href={section.href}
                class:list={[
                  'antialiased font-sans text-sm leading-normal relative w-full py-1 capitalize transition-colors hover:text-slate-950 text-slate-600',
                  { 'text-slate-950 font-medium': section.selected },
                ]}
              >
                {section.title}
              </a>
            ))
          }
        </div>
      </div>
      <div id="content" class="flex flex-col flex-grow border">
        <div
          class="mx-auto pt-12 p-6 prose prose-slate hover:prose-a:text-red-700 prose-img:rounded-xl prose-img:border-4 prose-img:border-slate-300 prose-code:font-normal"
        >
          <slot />
        </div>
        <div
          id="footer"
          class="mx-auto pt-24 pb-6 prose prose-xs hover:prose-a:text-red-700 text-xs prose-p:text-slate-600"
        >
          <p class="flex flex-col md:flex-row items-center space-y-2 md:space-y-0 md:space-x-2">
            <span>Copyright ©{new Date().getFullYear()} ERSN.</span>
            <span>Hosted by <a href="https://reflexive.sh">Reflexive Labs</a>.</span>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
