---
import '@styles/base.css';

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={frontmatter.description} />
    <meta name="viewport" content="width=device-width" />
    <title>
      {
        frontmatter.title
          ? frontmatter.title + ' :: Ebbetts Radio Safety Net'
          : 'Ebbetts Radio Safety Net | Calaveras, California'
      }
    </title>

    <link
      rel="canonical"
      href={frontmatter.canonical || `https://ersn.net${Astro.url.pathname.replace(/\/$/, '')}`}
    />
    <link rel="icon" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="bg-slate-200 text-slate:950">
    <div
      class:list={[
        'p-2 sm:p-6 lg:p-8 mx-auto',
        'prose prose-slate prose-sm sm:prose-base hover:prose-a:text-red-700 prose-img:rounded-xl prose-img:border-4 prose-img:border-slate-300 prose-code:font-normal',
        frontmatter.customClass,
      ]}
    >
      <slot />
    </div>
  </body>
</html>
